body {
    
    font-family: 'Lobster', cursive;
    background-image: url("../images/gifgif.gif");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: black; */
    font-size: 30px;
    text-align: center;
}

header {
    font-size: 60px;
    color: ghostwhite;
    margin: 25px;
}

p {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

.butTopics, .subButt {
    font-family: 'Lobster', cursive;
    font-size: 33px;
    /* margin: 0 auto; */
    margin: 3px;
    
    
}

.subButt {
    font-size: 33px;
    /* margin: 0 auto; */
}

#anything-input {
    color: ghostwhite;
    font-family: 'Lobster', cursive;
    font-size: 33px;
    margin-right: 5px; 
    
    
}

#inputLab {
    font-family: 'Lobster', cursive;
    font-size: 33px;
    /* margin: 0 auto; */
    margin-left: 145px;
    margin-right: 5px;
    color: red;
}
