
body {
    background-color: goldenrod;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-align: center;
}

p {
    font-family: 'Lobster', cursive;
}

.butTopics {
    font-family: 'Lobster', cursive;
    font-size: 33px;
    margin: 3px;
}

.subButt {
    font-family: 'Lobster', cursive;
}

#anything-input {
    color: ghostwhite;
    font-family: 'Lobster', cursive; 
}

#inputLab {
    font-family: 'Lobster', cursive;
}
